# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
.vscode
nbproject
Thumbs.db

# NPM
node_modules/

# Build
public/
public-closure/
game.zip

# Vercel
.env
.vercel
